#btn1 {
	border-width: 0;
	border-radius: 20px;
	background-color: darkblue;
	color: white;
	width: 85px;
	height: 30px;
	font-size: 20px;
}
#btn2 {
	border-width: 0;
	border-radius: 20px;
	background-color: darkgreen;
	color: white;
	width: 85px;
	height: 30px;
	font-size: 20px;
	margin-left: 20px;
}